@import "./colors";

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
  overflow-y: auto;
  background-color: $bg-color;
  padding: 1rem;
}
