@import "../../styles/colors";

.container {
  .heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0;
  }

  .input-div {
    display: grid;
    place-items: center;
    .input {
      outline: none;
      height: 30px;
      width: 80%;
      padding: 0 1rem;
      border-radius: 20px;
      border: none;
      margin-bottom: 2rem;
    }
  }
}
